In [1]:
# Import dependencies. 

import pandas as pd
# import requests
# import json
# import numpy as np
# import matplotlib.pyplot as plt
# import scipy.stats as st

# Import the API key
# from config_br import geoapify_key

In [2]:
# Need to investigate where we're losing some values from schools, hospitals, restaurants.

In [3]:
# Here's the issue:
# This SHOULD be the fully merged file, BUT it looks like we only have 939 values for school count, restaurant count, hospital count. 

miami_all_sample = pd.read_csv('miami_merged_data_with_API.csv')
miami_all_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 950 entries, 0 to 949
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   LATITUDE           950 non-null    float64
 1   LONGITUDE          950 non-null    float64
 2   PARCELNO           950 non-null    int64
 3   SALE_PRC           950 non-null    float64
 4   LND_SQFOOT         950 non-null    int64
 5   TOT_LVG_AREA       950 non-null    int64
 6   SPEC_FEAT_VAL      950 non-null    int64
 7   RAIL_DIST          950 non-null    float64
 8   OCEAN_DIST         950 non-null    float64
 9   WATER_DIST         950 non-null    float64
 10  CNTR_DIST          950 non-null    float64
 11  SUBCNTR_DI         950 non-null    float64
 12  HWY_DIST           950 non-null    float64
 13  age                950 non-null    int64
 14  avno60plus         950 non-null    int64
 15  month_sold         950 non-null    int64
 16  structure_quality  950 non-null    int64
 17  post_code          950 non-null    int64
 18  school count       939 non-null    float64
 19  hosp count         939 non-null    float64
 20  rest count         939 non-null    float64
dtypes: float64(12), int64(9)
memory usage: 156.0 KB

In [4]:
miami_all_sample.head()

,LATITUDE,LONGITUDE,PARCELNO,SALE_PRC,LND_SQFOOT,TOT_LVG_AREA,SPEC_FEAT_VAL,RAIL_DIST,OCEAN_DIST,WATER_DIST,...,SUBCNTR_DI,HWY_DIST,age,avno60plus,month_sold,structure_quality,post_code,school count,hosp count,rest count
0,25.664650,-80.454970,3059080100500,391000.0,7096,3181,1280,7864.9,52246.5,41626.8,...,47379.1,22018.5,22,0,3,4,33196,2.0,1.0,0.0
1,25.851443,-80.175251,132080090270,420000.0,5555,1565,0,4070.8,18512.6,326.1,...,26516.6,10578.8,21,0,8,4,33138,6.0,6.0,10.0
2,25.539853,-80.386774,3069240001921,360000.0,46871,2400,194,11110.2,18526.1,10559.4,...,59032.3,3600.5,17,0,6,4,33032,0.0,0.0,0.0
3,25.821264,-80.380662,3530190022210,465000.0,4151,2253,3309,8771.4,57951.2,20335.1,...,47818.3,1899.8,19,0,4,5,33178,2.0,0.0,0.0
4,25.916466,-80.171423,722170181250,245000.0,4500,1318,1562,3212.8,16424.2,2745.2,...,47633.0,10676.0,21,0,12,4,33162,7.0,3.0,0.0

In [5]:
# Here's the full dataset for our API pull requests using Places (schools, hospitals, restaurants)
# All 950 values still here.

miami_api = pd.read_csv("miami_api_data.csv")
miami_api.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 950 entries, 0 to 949
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LATITUDE      950 non-null    float64
 1   LONGITUDE     950 non-null    float64
 2   school count  950 non-null    int64
 3   hosp count    950 non-null    int64
 4   rest count    950 non-null    int64
dtypes: float64(2), int64(3)
memory usage: 37.2 KB

In [6]:
# And here's the "enriched" dataset that is the full sample data plus the zip codes that Vidya pulled. 
# Still good here -- all columns have 950 values. 

miami_postal = pd.read_csv('miami_data_enriched.csv')
miami_postal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 950 entries, 0 to 949
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   LATITUDE           950 non-null    float64
 1   LONGITUDE          950 non-null    float64
 2   PARCELNO           950 non-null    int64
 3   SALE_PRC           950 non-null    float64
 4   LND_SQFOOT         950 non-null    int64
 5   TOT_LVG_AREA       950 non-null    int64
 6   SPEC_FEAT_VAL      950 non-null    int64
 7   RAIL_DIST          950 non-null    float64
 8   OCEAN_DIST         950 non-null    float64
 9   WATER_DIST         950 non-null    float64
 10  CNTR_DIST          950 non-null    float64
 11  SUBCNTR_DI         950 non-null    float64
 12  HWY_DIST           950 non-null    float64
 13  age                950 non-null    int64
 14  avno60plus         950 non-null    int64
 15  month_sold         950 non-null    int64
 16  structure_quality  950 non-null    int64
 17  post_code          950 non-null    int64
dtypes: float64(9), int64(9)
memory usage: 133.7 KB

In [9]:
# And here's how I merged these, and I still haven't lost those values. 

miami_merged_data = pd.merge(miami_postal, miami_api, how="left", on=["LATITUDE","LONGITUDE"])
miami_merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 950 entries, 0 to 949
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   LATITUDE           950 non-null    float64
 1   LONGITUDE          950 non-null    float64
 2   PARCELNO           950 non-null    int64
 3   SALE_PRC           950 non-null    float64
 4   LND_SQFOOT         950 non-null    int64
 5   TOT_LVG_AREA       950 non-null    int64
 6   SPEC_FEAT_VAL      950 non-null    int64
 7   RAIL_DIST          950 non-null    float64
 8   OCEAN_DIST         950 non-null    float64
 9   WATER_DIST         950 non-null    float64
 10  CNTR_DIST          950 non-null    float64
 11  SUBCNTR_DI         950 non-null    float64
 12  HWY_DIST           950 non-null    float64
 13  age                950 non-null    int64
 14  avno60plus         950 non-null    int64
 15  month_sold         950 non-null    int64
 16  structure_quality  950 non-null    int64
 17  post_code          950 non-null    int64
 18  school count       950 non-null    int64
 19  hosp count         950 non-null    int64
 20  rest count         950 non-null    int64
dtypes: float64(9), int64(12)
memory usage: 163.3 KB

In [8]:
miami_merged_data = pd.merge(miami_postal, miami_api, how="inner", on=["LATITUDE","LONGITUDE"])
miami_merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 950 entries, 0 to 949
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   LATITUDE           950 non-null    float64
 1   LONGITUDE          950 non-null    float64
 2   PARCELNO           950 non-null    int64
 3   SALE_PRC           950 non-null    float64
 4   LND_SQFOOT         950 non-null    int64
 5   TOT_LVG_AREA       950 non-null    int64
 6   SPEC_FEAT_VAL      950 non-null    int64
 7   RAIL_DIST          950 non-null    float64
 8   OCEAN_DIST         950 non-null    float64
 9   WATER_DIST         950 non-null    float64
 10  CNTR_DIST          950 non-null    float64
 11  SUBCNTR_DI         950 non-null    float64
 12  HWY_DIST           950 non-null    float64
 13  age                950 non-null    int64
 14  avno60plus         950 non-null    int64
 15  month_sold         950 non-null    int64
 16  structure_quality  950 non-null    int64
 17  post_code          950 non-null    int64
 18  school count       950 non-null    int64
 19  hosp count         950 non-null    int64
 20  rest count         950 non-null    int64
dtypes: float64(9), int64(12)
memory usage: 163.3 KB

In [10]:
# Then I saved that to this CSV file, but when I read this again, you can see the reduction in values. 

miami_all_sample = pd.read_csv('miami_merged_data_with_API.csv')
miami_all_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 950 entries, 0 to 949
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   LATITUDE           950 non-null    float64
 1   LONGITUDE          950 non-null    float64
 2   PARCELNO           950 non-null    int64
 3   SALE_PRC           950 non-null    float64
 4   LND_SQFOOT         950 non-null    int64
 5   TOT_LVG_AREA       950 non-null    int64
 6   SPEC_FEAT_VAL      950 non-null    int64
 7   RAIL_DIST          950 non-null    float64
 8   OCEAN_DIST         950 non-null    float64
 9   WATER_DIST         950 non-null    float64
 10  CNTR_DIST          950 non-null    float64
 11  SUBCNTR_DI         950 non-null    float64
 12  HWY_DIST           950 non-null    float64
 13  age                950 non-null    int64
 14  avno60plus         950 non-null    int64
 15  month_sold         950 non-null    int64
 16  structure_quality  950 non-null    int64
 17  post_code          950 non-null    int64
 18  school count       939 non-null    float64
 19  hosp count         939 non-null    float64
 20  rest count         939 non-null    float64
dtypes: float64(12), int64(9)
memory usage: 156.0 KB

In [11]:
# Maybe I can try saving it to a new file and just see if those values get lost this time. 

miami_merged_data.to_csv("TESTING_Miami_merge.csv",index=False)

In [12]:
# Seems like that worked! 

miami_full_merge = pd.read_csv("TESTING_Miami_merge.csv")
miami_full_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 950 entries, 0 to 949
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   LATITUDE           950 non-null    float64
 1   LONGITUDE          950 non-null    float64
 2   PARCELNO           950 non-null    int64
 3   SALE_PRC           950 non-null    float64
 4   LND_SQFOOT         950 non-null    int64
 5   TOT_LVG_AREA       950 non-null    int64
 6   SPEC_FEAT_VAL      950 non-null    int64
 7   RAIL_DIST          950 non-null    float64
 8   OCEAN_DIST         950 non-null    float64
 9   WATER_DIST         950 non-null    float64
 10  CNTR_DIST          950 non-null    float64
 11  SUBCNTR_DI         950 non-null    float64
 12  HWY_DIST           950 non-null    float64
 13  age                950 non-null    int64
 14  avno60plus         950 non-null    int64
 15  month_sold         950 non-null    int64
 16  structure_quality  950 non-null    int64
 17  post_code          950 non-null    int64
 18  school count       950 non-null    int64
 19  hosp count         950 non-null    int64
 20  rest count         950 non-null    int64
dtypes: float64(9), int64(12)
memory usage: 156.0 KB